@model CMS.Web.Models.CMSModel
@{
    ViewBag.Title = "Insert Update New Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-horizontal">
        @using (Html.BeginForm("InsertUpdateNewContact", "Home", FormMethod.Post))
        { @Html.HiddenFor(m => m.Id)   <div class="form-group">
            <label class="control-label col-sm-2" for="firstName">First Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="firstName" id="firstName" value='@Model.firstName' placeholder="Enter First Name" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastName">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="lastName" id="lastName" value='@Model.lastName' placeholder="Enter Last Name" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="eMailAddress">E-Mail address:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="emailAddress" id="eMailAddress" value='@Model.emailAddress' placeholder="Enter E-Mail Address" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="mobileNo">Mobile No:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="mobileNo" id="mobileNo" value='@Model.mobileNo' placeholder="Enter Mobile No." required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" id="submitData" value="Update Data" class="btn button btn-success"/>
                <a href="@Url.Action("Index","Home")" class="btn btn-warning">Cancel</a>
            </div>
        </div>
        }
    </div>
</div>